<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i> Welcome to eBooks</h1>
  <p>The worlds largest digital book store</p>
  <p> <%= link_to "Books", "#", class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>